table {
    width: 100%;
    margin-top: 10px;
}

.mat-icon-button { 
    color: #00A9E0;    
}

.circle {
    border-radius: 50%;
    width: 12px;
    height: 12px;
    padding: 12px;
    background: #00A9E0;
    color: white;
    text-align: center;
    display: inline-block;
    margin-right: 5px;
    vertical-align: bottom;
}

.badge {
    background-color: #00A9E0;
    border-radius: 12px; /* one half of ( (border * 2) + height + padding ) */
    color: white;
    font-size: 12px;
    height: 16px; 
    padding: 4px 3px 0 3px;
    margin-left: -4px;
    margin-right: 2px;
    text-align: center;
    min-width: 14px;
}

.rb-circle {
    border-radius: 50%;
    width: 12px;
    height: 12px;
    padding: 12px;
    background: #00A9E0;
    color: white;
    text-align: center;
    display: inline-block;
    margin-right: 5px;
    margin-left: 10px;
}

.mat-radio-button{
    margin-right: 20px;
    margin-bottom: 20px;
}

.ng-autocomplete {
    margin-top: 15px;
    margin-bottom: 35px;
    width: inherit;
} 

.mat-raised-button {
    background-color: #424463;
    color: white;
}

.mat-mini-fab {
    background-color: #424463;
}

.mat-badge-content {
    background: #00A9E0;
}

.mat-chip {
    overflow: visible;
}

td.mat-badge.mat-badge-above:not(.mat-chip) .mat-badge-content:not(.mat-chip) {
    top: 12px;
    margin-left: -2px;
}

td.mat-badge.mat-badge-above:first-of-type .mat-badge-content:first-of-type {
    left: 6px;
}
td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type, th.mat-header-cell:first-of-type {
    padding-left: 28px;
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
    background-color:#00A9E0 !important; /*click effect color change*/
} 

::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
    background-color:#00A9E0!important;   /*inner circle color change*/
}

::ng-deep.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color:#00A9E0!important; /*outer ring color change*/
}

.form-row {
    width: 100%;
}

/* set height of the service request and use scroll bars */
mat-selection-list {
    min-height: 410px;
    max-height: 410px;
    overflow: auto;
}

/* make font of list items the same as mat-form-field font */
:host /deep/ .mat-list-item-content {
    font-size: 14px;
}

#extractedModalityList, #extractedSiteList, #extractedLateralityList {
    min-height: 100px;
    max-height: 100px;
    overflow: auto;
}
