<div [formGroup]="investigationsForm" class="container" fxLayout="column" fxLayoutGap="20px">
    
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar><mat-icon>add</mat-icon></div>
      <mat-card-title>Add New Diagnostic Imaging Request</mat-card-title>
    </mat-card-header>
    <mat-card-content>

      <div class="form-row" fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px">
        <mat-form-field appearance="outline" fxFlex>
          <input type="text" placeholder="Presenting Problem" aria-label="Presenting Problem" matInput formControlName="presentingProblem" [matAutocomplete]="autoPresentingProblem">
          <span matPrefix matTooltip="This field uses SNOMED CT" class="circle"><b>S</b></span>    
          <mat-autocomplete #autoPresentingProblem="matAutocomplete" [displayWith]="displayFn.bind(this)">
            <mat-option *ngFor="let option of filteredPresentingProblemValues" [value]="option">
              {{option.display}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <button mat-mini-fab aria-label="click for info" matTooltip="Click for further info on presenting problem"
          [mdePopoverTriggerFor]="presentingProblemPopover" mdePopoverTriggerOn="click" #popoverTrigger="mdePopoverTrigger">
          <b>i</b>
        </button>
        <mde-popover #presentingProblemPopover="mdePopover" [mdePopoverOverlapTrigger]="false">
          <mat-card style="max-width: 600px">
            <mat-card-content>
              XXX
          </mat-card-content>
          </mat-card>
        </mde-popover>
      </div>
   
      <div class="form-row" fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px">
        <mat-form-field appearance="outline" fxFlex>
          <input type="text" placeholder="Modality" aria-label="Modality" matInput formControlName="modality" [matAutocomplete]="autoModality">
          <span matPrefix matTooltip="This field uses SNOMED CT" class="circle"><b>S</b></span>    
          <mat-autocomplete #autoModality="matAutocomplete" [displayWith]="displayFn.bind(this)">
            <mat-option *ngFor="let option of filteredModalityValues" [value]="option" (click)="onSelectModality(option)">
              {{option.display}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <button mat-mini-fab aria-label="click for info" matTooltip="Click for further info on presenting problem"
          [mdePopoverTriggerFor]="modalityPopover" mdePopoverTriggerOn="click" #popoverTrigger="mdePopoverTrigger">
          <b>i</b> 
        </button>
        <mde-popover #modalityPopover="mdePopover" [mdePopoverOverlapTrigger]="false">
          <mat-card style="max-width: 600px">
            <mat-card-content>
              XXX
          </mat-card-content>
          </mat-card>
        </mde-popover>
      </div>

      <div class="form-row" fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px">
        <mat-form-field appearance="outline" fxFlex>
          <input type="text" placeholder="Target Site" aria-label="Target Site" matInput formControlName="targetSite" [matAutocomplete]="autoTargetSite">
          <span matPrefix matTooltip="This field uses SNOMED CT" class="circle"><b>S</b></span>    
          <mat-autocomplete #autoTargetSite="matAutocomplete" [displayWith]="displayFn.bind(this)">
            <mat-option *ngFor="let option of filteredTargetSiteValues" [value]="option">
              {{option.display}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <button mat-mini-fab aria-label="click for info" matTooltip="Click for further info on Target Site"
          [mdePopoverTriggerFor]="targetSitePopover" mdePopoverTriggerOn="click" #popoverTrigger="mdePopoverTrigger">
          <b>i</b>
        </button>
        <mde-popover #targetSitePopover="mdePopover" [mdePopoverOverlapTrigger]="false">
          <mat-card style="max-width: 600px">
            <mat-card-content>
              XXX
          </mat-card-content>
          </mat-card>
        </mde-popover>
        <div fxFlex>
          <span matPrefix matTooltip="This field uses SNOMED CT" class="rb-circle"><b>S</b></span>
          <label class="mat-typography">Laterality: </label>
          <mat-radio-group formControlName="side">
              <mat-radio-button *ngFor="let option of sideValues" [value]="option" matTooltip="SNOMED CT code: {{option.value}}">
                  {{option.display}}
              </mat-radio-button>
          </mat-radio-group>
          <button mat-mini-fab aria-label="click for info" matTooltip="Click for further info on Laterality"
            [mdePopoverTriggerFor]="sidePopover" mdePopoverTriggerOn="click" #popoverTrigger="mdePopoverTrigger">
            <b>i</b>
          </button>
          <mde-popover #sidePopover="mdePopover" [mdePopoverOverlapTrigger]="false">
            <mat-card style="max-width: 600px">
              <mat-card-content>
                XXX
             </mat-card-content>
            </mat-card>
          </mde-popover>
        </div>
      </div>

      <mat-grid-list cols="2" rowHeight="600px">

        <mat-grid-tile>
          <div class="form-row" fxLayout="column" fxLayout.xs="column" fxLayoutGap="20px">
          <div class="form-row" fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px" style="display: flex; align-items: flex-start;">
            <mat-form-field appearance="outline" fxFlex>
              <input type="text" placeholder="DI Service Request" aria-label="Diagnostic Imaging Service Request" matInput formControlName="serviceRequest" [matAutocomplete]="autoServiceRequest">
              <span matPrefix matTooltip="This field uses SNOMED CT" class="circle"><b>S</b></span>    
              <mat-autocomplete #autoServiceRequest="matAutocomplete" [displayWith]="displayFn.bind(this)">
                <!-- <mat-option *ngFor="let option of filteredServiceRequestValues" [value]="option">
                  {{option.display}}
                </mat-option> -->
              </mat-autocomplete>

            </mat-form-field>
            <button mat-mini-fab aria-label="click for info" matTooltip="Click for further info on presenting problem"
              [mdePopoverTriggerFor]="serviceRequestPopover" mdePopoverTriggerOn="click" #popoverTrigger="mdePopoverTrigger">
              <b>i</b>
            </button>
            <mde-popover #serviceRequestPopover="mdePopover" [mdePopoverOverlapTrigger]="false">
              <mat-card style="max-width: 600px">
                <mat-card-content>
                  XXX
              </mat-card-content>
              </mat-card>
            </mde-popover>

          </div>
          <div class="form-row" fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px" style="display: flex; align-items: flex-start;">
            <mat-selection-list #options [multiple]="false" style="border-style: solid" fxFlex>
              <mat-list-option *ngIf="filteredServiceRequestValues.length < 1">
                -- no suggestions --
              </mat-list-option>
              <mat-list-option *ngFor="let option of filteredServiceRequestValues" [value]="option.value" (click)="onSelectServiceRequest(option)">
                {{option.display}}
              </mat-list-option>
            </mat-selection-list>
          </div>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="form-row" fxLayout="column" fxLayout.xs="column" fxLayoutGap="20px">
          <div class="form-row" fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px">
            <mat-form-field appearance="outline" fxFlex>
              <input type="text" placeholder="Contrast Material" aria-label="Presenting Problem" matInput formControlName="contrastMaterial" [matAutocomplete]="autoContrastMaterial">
              <span matPrefix matTooltip="This field uses SNOMED CT" class="circle"><b>S</b></span>    
              <mat-autocomplete #autoContrastMaterial="matAutocomplete" [displayWith]="displayFn.bind(this)">
                <mat-option *ngFor="let option of filteredContrastMaterialValues" [value]="option">
                  {{option.display}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
            <button mat-mini-fab aria-label="click for info" matTooltip="Click for further info on Contrast Material"
              [mdePopoverTriggerFor]="contrastMaterialPopover" mdePopoverTriggerOn="click" #popoverTrigger="mdePopoverTrigger">
              <b>i</b>
            </button>
            <mde-popover #contrastMaterialPopover="mdePopover" [mdePopoverOverlapTrigger]="false">
              <mat-card style="max-width: 600px">
                <mat-card-content>
                  The Presenting Problem field is bound to the <b> http://aehrc.com/valueset/xxx
                  “XXX” value set </b> developed for the Primary Care Data Quality Foundations work 
                  program hosted on a FHIR-Based, SNOMED-CT terminology server. 
                  <br><br>
                  Options are filtered based on the user input and the field is implemented with an auto-complete component
                  to limit user typing.
                  <br><br>
                  If the terminology server supports it, returned results can be limited by using <b>count=X</b>. This may prevent
                  the sever from responding with a 'too costly' error and improve performance of the lookup and rendering.
                  <br><br>
                  If no options are retrieved, the field allows the user to enter their own value.
              </mat-card-content>
              </mat-card>
            </mde-popover>
          </div>
          <div class="form-row" fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px">
            <mat-form-field appearance="outline"  fxFlex>
              <mat-label>Additional Notes</mat-label>
              <input matInput formControlName="additionalNotes"/>
            </mat-form-field>
          </div>
          <div class="form-row" fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px">
            <!-- <mat-form-field appearance="outline" fxFlex>
              <mat-label>Extracted Modality</mat-label> -->
              <!-- <input placeholder="Extracted Modality" aria-label="Extracted Modality" matInput [readonly]="true" formControlName="extractedModality"/> -->
              <mat-list style="border-style: solid" fxFlex>
                <div mat-subheader>Extracted Modality</div>
                <mat-list-item *ngFor="let value of extractedModalityValues"> {{ value.display }} </mat-list-item>
              </mat-list>
            <!-- </mat-form-field> -->
            <button mat-mini-fab aria-label="click for info" matTooltip="Click for further info on Extracted Modality"
              [mdePopoverTriggerFor]="extractedModalityPopover" mdePopoverTriggerOn="click" #popoverTrigger="mdePopoverTrigger">
              <b>i</b>
            </button>
            <mde-popover #extractedModalityPopover="mdePopover" [mdePopoverOverlapTrigger]="false">
              <mat-card style="max-width: 600px">
                <mat-card-content>
                  XXXX
                </mat-card-content>
              </mat-card>
            </mde-popover>
          </div>
          <div class="form-row" fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px">
            <!-- <mat-form-field appearance="outline" fxFlex>
              <mat-label>Extracted Site</mat-label> -->
              <!-- <input placeholder="Extracted Site" aria-label="Extracted Site" matInput [readonly]="true" formControlName="extractedSite"/> -->
              <mat-list style="border-style: solid" fxFlex>
                <div mat-subheader>Extracted Site</div>
                <mat-list-item *ngFor="let value of extractedSiteValues"> {{ value.display }} </mat-list-item>
              </mat-list>
            <!-- </mat-form-field> -->
            <button mat-mini-fab aria-label="click for info" matTooltip="Click for further info on Extracted Site"
              [mdePopoverTriggerFor]="extractedSitePopover" mdePopoverTriggerOn="click" #popoverTrigger="mdePopoverTrigger">
              <b>i</b>
            </button>
            <mde-popover #extractedSitePopover="mdePopover" [mdePopoverOverlapTrigger]="false">
              <mat-card style="max-width: 600px">
                <mat-card-content>
                  XXXX
                </mat-card-content>
              </mat-card>
            </mde-popover>
          </div>
          <div class="form-row" fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px">
            <!-- <mat-form-field appearance="outline" fxFlex>
              <mat-label>Extracted Laterality</mat-label> -->
              <!-- <input placeholder="Extracted Laterality" aria-label="Extracted Laterality" matInput [readonly]="true" formControlName="extractedLaterality"/> -->
              <mat-list style="border-style: solid" fxFlex>
                <div mat-subheader>Extracted Laterality</div>
                <mat-list-item *ngFor="let value of extractedLateralityValues"> {{ value.display }} </mat-list-item>
              </mat-list>
            <!-- </mat-form-field> -->
            <button mat-mini-fab aria-label="click for info" matTooltip="Click for further info on Extracted Laterality"
              [mdePopoverTriggerFor]="extractedLateralityPopover" mdePopoverTriggerOn="click" #popoverTrigger="mdePopoverTrigger">
              <b>i</b>
            </button>
            <mde-popover #extractedLateralityPopover="mdePopover" [mdePopoverOverlapTrigger]="false">
              <mat-card style="max-width: 600px">
                <mat-card-content>
                  XXXX
                </mat-card-content>
              </mat-card>
            </mde-popover>
          </div>
        </div>
        </mat-grid-tile>
      </mat-grid-list>

      <div class="form-row" fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px">
        <button mat-raised-button (click)="onSaveDiagnosticImagingInvestigation()">
          <mat-icon>add</mat-icon> 
          Add 
        </button>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <div mat-card-avatar><mat-icon>list</mat-icon></div>
      <mat-card-title>Diagnostic Service Requests</mat-card-title>
    </mat-card-header>
    <mat-card-content fxLayout="column">

      <table mat-table fxFlex [dataSource]="diagnosticImagingInvestigationDataSource" class="mat-elevation-z8" #investigationTable>
        <ng-container matColumnDef="presentingProblemDisplay">
          <th mat-header-cell *matHeaderCellDef> Presenting Problem </th>
          <td mat-cell *matCellDef="let investigation" 
            matTooltip="SNOMED CT code: {{investigation.presentingProblemCode}}"
            matBadge="S" 
            matBadgePosition="above before" 
            matBadgeColor="warn"
            matBadgeOverlap="false"
            [matBadgeHidden]="isMatBadgeHidden(investigation.presentingProblemCode)"> {{investigation.presentingProblemDisplay}} </td>
        </ng-container>
  
        <ng-container matColumnDef="radiologyServiceDisplay">
          <th mat-header-cell *matHeaderCellDef> Requested Radiology Service</th>
          <td mat-cell *matCellDef="let investigation" 
            matTooltip="SNOMED CT code: {{investigation.serviceRequestCode}}"
            matBadge="S" 
            matBadgePosition="above before" 
            matBadgeColor="warn"
            matBadgeOverlap="false"
            [matBadgeHidden]="isMatBadgeHidden(investigation.serviceRequestCode)"> {{investigation.serviceRequestDisplay}} </td>
        </ng-container>
  
        <ng-container matColumnDef="contrastMaterialDisplay">
          <th mat-header-cell *matHeaderCellDef> Contrast Material </th>
          <td mat-cell *matCellDef="let investigation" 
            matTooltip="SNOMED CT code: {{investigation.contrastMaterialCode}}"
            matBadge="S" 
            matBadgePosition="above before" 
            matBadgeColor="warn"
            matBadgeOverlap="false"
            [matBadgeHidden]="isMatBadgeHidden(investigation.contrastMaterialCode)"> {{investigation.contrastMaterialDisplay}} </td>
        </ng-container>
  
        <ng-container matColumnDef="additionalNotes">
          <th mat-header-cell *matHeaderCellDef> Additional Notes </th>
          <td mat-cell *matCellDef="let investigation"> {{investigation.additionalNotes}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedDiagnosticImagingInvestigationsColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedDiagnosticImagingInvestigationsColumns;"></tr>
      </table>
  
  
    </mat-card-content>
  </mat-card>

</div>    