<mat-toolbar color="primary">
    <div>
      <a>
        Snomed Search Demo
      </a>
    </div>
  </mat-toolbar> 
<mat-tab-group>
  <mat-tab label="Smith, Nathan" style="color:white"> 

      <mat-grid-list cols="6" rowHeight="130px">
          <mat-grid-tile>
              <mat-list>
                  <mat-list-item> Smith, Nathan <!--{{patient.name[0].family}},  {{getGivenNameAndInitials()}}--></mat-list-item>
                  <mat-list-item> Allergies:  </mat-list-item>
                  <mat-list-item> Care Team:  </mat-list-item>
              </mat-list>
          </mat-grid-tile>
          <mat-grid-tile>
              <mat-list>
                  <mat-list-item> DOB: 2001-08-28 <!--{{patient.birthDate}}--> </mat-list-item>
                  <mat-list-item> Dose Weight:  </mat-list-item>
                  <mat-list-item> Loc:  </mat-list-item>
              </mat-list>
          </mat-grid-tile>
          <mat-grid-tile>
              <mat-list>
                  <mat-list-item> Age: 18<!--{{getAge()}}--> </mat-list-item>
                  <mat-list-item> Isolation:  </mat-list-item>
                  <mat-list-item> CommonWell:  </mat-list-item>
              </mat-list>
          </mat-grid-tile>
          <mat-grid-tile>
              <mat-list>
                  <mat-list-item> Sex: <!--{{patient.gender}}--></mat-list-item>
                  <mat-list-item> Resuscitation Status:  </mat-list-item>
                  <mat-list-item> HealtheLife:  </mat-list-item>
              </mat-list>
          </mat-grid-tile>
          <mat-grid-tile>
              <mat-list>
                  <mat-list-item> MRN: <!--{{patient.id}}--></mat-list-item>
                  <mat-list-item> Clinical Trials:  </mat-list-item>
                  <mat-list-item> Advance Dir:  </mat-list-item>
              </mat-list>
          </mat-grid-tile>
      </mat-grid-list>
  </mat-tab>
</mat-tab-group>

<mat-drawer-container class="example-container" fxLayout="column" fxFill>
  <mat-drawer mode="side" opened>

    <mat-button-toggle-group fxLayout="column" fxLayoutAlign="space-around stretch">
      <mat-button-toggle value="history" aria-label="History" (change)="sideMenuChanged($event)">
        <mat-icon>library_books</mat-icon>
        Encounter    
      </mat-button-toggle>
      <mat-button-toggle value="physical" aria-label="Physical" (change)="sideMenuChanged($event)">
        <mat-icon>assessment</mat-icon>
        Allergies / Adverse Reactions
      </mat-button-toggle>
      <!-- <mat-button-toggle value="investigations" aria-label="Investigations" (change)="sideMenuChanged($event)">
        <mat-icon>search</mat-icon>
        Investigations
      </mat-button-toggle>
      <mat-button-toggle disabled value="ANZBA" aria-label="ANZBA" (change)="sideMenuChanged($event)">
          <mat-icon>star</mat-icon>
          ANZBA
      </mat-button-toggle>
      <mat-button-toggle disabled value="GCS" aria-label="GCS" (change)="sideMenuChanged($event)">
          <mat-icon>star</mat-icon>
          GCS
      </mat-button-toggle>
      <mat-button-toggle disabled value="Lund-Browder" aria-label="Lund-Browder" (change)="sideMenuChanged($event)">
          <mat-icon>star</mat-icon>
          Lund-Browder
      </mat-button-toggle>

      <mat-button-toggle value="story" aria-label="Story" (change)="sideMenuChanged($event)">
          <mat-icon>book</mat-icon>
          Story
      </mat-button-toggle> -->
    </mat-button-toggle-group>
  
  </mat-drawer>
  <mat-drawer-content>
    <!-- <app-history-frame *ngIf="selectedMenuItem === 'history'"></app-history-frame>
    <app-physical-frame *ngIf="selectedMenuItem === 'physical'"></app-physical-frame>
    <app-investigations-frame *ngIf="selectedMenuItem === 'investigations'"></app-investigations-frame>
    <app-story-frame *ngIf="selectedMenuItem === 'story'"></app-story-frame> -->
  </mat-drawer-content>
</mat-drawer-container>


<mat-toolbar color="primary">
  <div>
    <a>
      Snomed Search Demo
    </a>
  </div>
</mat-toolbar> 

 

<div class="container" fxLayout="column" fxLayoutGap="20px">

  <mat-card>
    <mat-card-content>
        <p>
          The simple interface below is designed to represent some of the fields that would typically be found in an EHR for a 
          Patient Encounter.
        </p>
        <p>
          Fields with a red "S" 

          indicate fields where the lookup is Snomed Search enabled. For example ..
          <mat-form-field appearance="outline" [style.fontSize.px]=14 matBadge="S" matBadgePosition="above before" matBadgeColor="warn">
              <input matInput/>
          </mat-form-field>
        </p>
        <p fxLayout="row" fxLayoutAlign="center">
          <!-- <mat-label fxFlex="30">This demonstrator is using the Snomed terminology server</mat-label> -->
          <mat-form-field appearance="outline" [style.fontSize.px]=14 fxFlex >
              <mat-label>Snomed Terminology Server</mat-label>
              <!-- <input matInput formControlName="terminologyServer" value={{snomedServer}}/> -->
              <mat-select [(value)]="snomedServer" (selectionChange)="onSnomedServerSelectionChange($event)">
                <mat-option *ngFor="let ts of terminologyServers" value={{ts}}>
                  {{ts}}
                </mat-option>
              </mat-select>
          </mat-form-field>
        </p>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar><mat-icon>person</mat-icon></div>
      <mat-card-title>Patient Details</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="form-row" fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px">
        <mat-form-field appearance="outline" [style.fontSize.px]=14 fxFlex>
          <mat-label>Patient ID</mat-label>
          <input matInput value="123456789" [readonly]="true"/>
        </mat-form-field>
        <mat-form-field appearance="outline" [style.fontSize.px]=14 fxFlex>
            <mat-label>National ID</mat-label>
            <input matInput value="987654321" [readonly]="true"/>
          </mat-form-field>
      </div>
    
      <div class="form-row" fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px">
        <mat-form-field appearance="outline" [style.fontSize.px]=14 fxFlex>
            <mat-label>Name</mat-label>
            <input matInput value="Mr Snowy Medd" [readonly]="true"/>
        </mat-form-field>
        <mat-form-field appearance="outline" [style.fontSize.px]=14 fxFlex>
            <mat-label>DOB</mat-label>
            <input matInput value="1980-08-08" [readonly]="true"/>
        </mat-form-field>
        <mat-form-field appearance="outline" [style.fontSize.px]=14 matBadge="S" matBadgePosition="above before" matBadgeColor="warn" fxFlex>
          <mat-label>Sex</mat-label>
          <mat-icon matPrefix>search</mat-icon>
          <select matNativeControl>
            <option *ngFor="let sex of getSexValues()" [selected]="sex.display === 'Male'" [value]="sex.code">{{sex.display}}</option>
          </select>
        </mat-form-field>
      </div>
    
      <div class="form-row" fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px">
        <mat-form-field appearance="outline" [style.fontSize.px]=14 fxFlex>
            <mat-label>Address</mat-label>
            <input matInput value="100 Snomed Lane, SNOMEDVILLE, 4000, SNOMEDLAND" size="200" [readonly]="true"/>
        </mat-form-field>
        <mat-form-field appearance="outline" [style.fontSize.px]=14 fxFlex>
            <mat-label>Email</mat-label>
            <input matInput value="snowy@snomed.org"  [readonly]="true"/>
        </mat-form-field>
      </div>
      <div class="form-row" fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px">
        <mat-form-field appearance="outline" [style.fontSize.px]=14 fxFlex>
            <mat-label>Mobile Telephone</mat-label>
            <input matInput value="123 456 789" [readonly]="true"/>
        </mat-form-field>
        <mat-form-field appearance="outline" [style.fontSize.px]=14 fxFlex>
            <mat-label>Home Telephone</mat-label>
            <input matInput value="(987) 654 321" [readonly]="true"/>
        </mat-form-field>
        <mat-form-field appearance="outline" [style.fontSize.px]=14 fxFlex>
            <mat-label>Work Telephone</mat-label>
            <input matInput value="(987) 123 456" [readonly]="true"/>
        </mat-form-field>
      </div>
      <div class="form-row" fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px">
          <mat-form-field appearance="outline" [style.fontSize.px]=14 fxFlex>
              <mat-label>Preferred Language</mat-label>
              <input matInput value="Snomed" [readonly]="true"/>
          </mat-form-field>
        </div>
      <div flexLayout="row">
          <button mat-flat-button  color="accent" matBadge="S" matBadgePosition="above before" matBadgeColor="warn" (click)="openBloodGroupDialog()">
            <mat-icon>add</mat-icon> 
            Add Blood Group
          </button>
        </div>
  
    </mat-card-content>
  </mat-card>

  <mat-card>
      <mat-card-header>
        <div mat-card-avatar><mat-icon>library_books</mat-icon></div>
        <mat-card-title>Encounter</mat-card-title>
      </mat-card-header>
      <mat-card-content>  
        <div flexLayout="column">
          <mat-form-field appearance="outline" [style.fontSize.px]=14 fxFlex>
              <mat-label>Notes</mat-label>
              <textarea matInput></textarea>
          </mat-form-field>
        </div>
        <div flexLayout="row">
          <button mat-flat-button  color="accent" matBadge="S" matBadgePosition="above before" matBadgeColor="#00A9E0" (click)="openPhysicalDialog()">
            <mat-icon>add</mat-icon> 
            Add Physical Observation
          </button>
          <button mat-flat-button  color="accent" matBadge="S" matBadgePosition="above before" matBadgeColor="warn" (click)="openDiagnosisDialog()">
            <mat-icon>add</mat-icon> 
            Add Diagnosis
          </button>
          <button mat-flat-button  color="accent" matBadge="S" matBadgePosition="above before" matBadgeColor="warn" (click)="openProcedureDialog()">
            <mat-icon>add</mat-icon> 
            Add Procedure
          </button>
        </div>
      </mat-card-content>
    </mat-card>

  <mat-card>
    <mat-card-header>
      <div mat-card-avatar><mat-icon>warning</mat-icon></div>
      <mat-card-title>Allergies / Adverse Reactions</mat-card-title>
    </mat-card-header>
    <mat-card-content fxLayout="column">  
      <div fxFlex fxLayoutAlign="flex-end">
        <button mat-flat-button  color="accent" matBadge="S" matBadgePosition="above before" matBadgeColor="warn" (click)="openReactionDialog()">
          <mat-icon>add</mat-icon> 
          Add 
        </button>
      </div>
      <table mat-table fxFlex [dataSource]="reactionDataSource" class="mat-elevation-z8" #reactionTable>
          'substance', 'nature', 'severity', 'verificationStatus', 'comment'
        <ng-container matColumnDef="substance">
          <th mat-header-cell *matHeaderCellDef matBadge="S" matBadgePosition="above before" matBadgeColor="warn"> Substance </th>
          <td mat-cell *matCellDef="let reaction" matTooltip="SNOMED CT code: {{reaction.substance}}"> {{lookupSnomedDesc(reaction.substance)}} </td>
        </ng-container>
  
        <ng-container matColumnDef="criticality">
          <th mat-header-cell *matHeaderCellDef matBadge="S" matBadgePosition="above before" matBadgeColor="warn"> Criticality </th>
          <td mat-cell *matCellDef="let reaction" matTooltip="SNOMED CT code: {{reaction.criticality}}"> {{lookupSnomedDesc(reaction.criticality)}} </td>
        </ng-container>
  
        <ng-container matColumnDef="manifestations">
          <th mat-header-cell *matHeaderCellDef matBadge="S" matBadgePosition="above before" matBadgeColor="warn"> Manifestations </th>
          <td mat-cell *matCellDef="let reaction" matTooltip="SNOMED CT code: {{reaction.manifestations}}"> {{lookupSnomedDesc(reaction.manifestations)}} </td>
        </ng-container>
  
        <ng-container matColumnDef="verificationStatus">
          <th mat-header-cell *matHeaderCellDef> Verification Status </th>
          <td mat-cell *matCellDef="let reaction"> {{reaction.verificationStatus}} </td>
        </ng-container>

        <ng-container matColumnDef="comment">
          <th mat-header-cell *matHeaderCellDef> Comment </th>
          <td mat-cell *matCellDef="let reaction"> {{reaction.comment}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedReactionColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedReactionColumns;"></tr>
      </table>
      
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <div mat-card-avatar><mat-icon>toggle_on</mat-icon></div>
      <mat-card-title>Current Medication</mat-card-title>
    </mat-card-header>
    <mat-card-content fxLayout="column">  
      <div fxFlex fxLayoutAlign="flex-end">
        <button mat-flat-button  color="accent" matBadge="S" matBadgePosition="above before" matBadgeColor="warn" (click)="openMedicationDialog()">
          <mat-icon>add</mat-icon> Prescribe Medication </button>
      </div>
      <table mat-table fxFlex [dataSource]="medicationDataSource" class="mat-elevation-z8" #medicationTable>
        
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let medication"> {{medication.name}} </td>
        </ng-container>

        <ng-container matColumnDef="strength">
          <th mat-header-cell *matHeaderCellDef> Strength </th>
          <td mat-cell *matCellDef="let medication"> {{medication.strength}} </td>
        </ng-container>

        <ng-container matColumnDef="form">
            <th mat-header-cell *matHeaderCellDef> Form </th>
            <td mat-cell *matCellDef="let medication"> {{medication.form}} </td>
          </ng-container>

        <ng-container matColumnDef="route">
          <th mat-header-cell *matHeaderCellDef> Route </th>
          <td mat-cell *matCellDef="let medication"> {{medication.route}} </td>
        </ng-container>

        <ng-container matColumnDef="freq">
            <th mat-header-cell *matHeaderCellDef> Frequency </th>
            <td mat-cell *matCellDef="let medication"> {{medication.freq}} </td>
          </ng-container>
      
        <ng-container matColumnDef="duration">
          <th mat-header-cell *matHeaderCellDef> Duration </th>
          <td mat-cell *matCellDef="let medication"> {{medication.duration}} </td>
        </ng-container>

        <ng-container matColumnDef="instruction">
            <th mat-header-cell *matHeaderCellDef> Instruction </th>
            <td mat-cell *matCellDef="let medication"> {{medication.instruction}} </td>
          </ng-container>

        <ng-container matColumnDef="clinicalIndication">
          <th mat-header-cell *matHeaderCellDef> Clinical Indication </th>
          <td mat-cell *matCellDef="let medication"> {{medication.clinicalIndication}} </td>
        </ng-container>

        <ng-container matColumnDef="comment">
          <th mat-header-cell *matHeaderCellDef> Comment </th>
          <td mat-cell *matCellDef="let medication"> {{medication.comment}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedMedicationColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedMedicationColumns;"></tr>
      </table>

    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <div mat-card-avatar><mat-icon>power_off</mat-icon></div>
      <mat-card-title>Current Problems</mat-card-title>
    </mat-card-header>
    <mat-card-content fxLayout="column">  
      <div fxFlex fxLayoutAlign="flex-end">
        <button mat-flat-button  color="accent" matBadge="S" matBadgePosition="above before" matBadgeColor="warn" (click)="openProblemDialog()">
          <mat-icon>add</mat-icon> Add </button>
      </div>
      <table mat-table fxFlex [dataSource]="problemDataSource" class="mat-elevation-z8" #problemTable>
        
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Description </th>
          <td mat-cell *matCellDef="let problem"> {{problem.name}} </td>
        </ng-container>
      
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef> Onset Date </th>
          <td mat-cell *matCellDef="let problem"> {{problem.date}} </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedProblemColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedProblemColumns;"></tr>
      </table>

    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <div mat-card-avatar><mat-icon>search</mat-icon></div>
      <mat-card-title>Investigations</mat-card-title>
    </mat-card-header>
    <mat-card-content fxLayout="column">  
      <div fxFlex fxLayoutAlign="flex-end">
        <button mat-flat-button  color="accent" matBadge="S" matBadgePosition="above before" matBadgeColor="warn" (click)="openInvestigationDialog()">
          <mat-icon>add</mat-icon> Order Investigation </button>
      </div>
      <table mat-table fxFlex [dataSource]="investigationDataSource" class="mat-elevation-z8" #investigationTable>
        
        <ng-container matColumnDef="test">
          <th mat-header-cell *matHeaderCellDef> Test </th>
          <td mat-cell *matCellDef="let investigation"> {{investigation.test}} </td>
        </ng-container>
      
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef> Date </th>
          <td mat-cell *matCellDef="let investigation"> {{investigation.date}} </td>
        </ng-container>
      
        <ng-container matColumnDef="result">
            <th mat-header-cell *matHeaderCellDef> Result </th>
            <td mat-cell *matCellDef="let investigation"> {{investigation.result}} </td>
          </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedInvestigationColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedInvestigationColumns;"></tr>
      </table>
    
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <div mat-card-avatar><mat-icon>healing</mat-icon></div>
      <mat-card-title>Procedures</mat-card-title>
    </mat-card-header>
    <mat-card-content fxLayout="column">  
      <div fxFlex fxLayoutAlign="flex-end">
        <button mat-flat-button  color="accent" matBadge="S" matBadgePosition="above before" matBadgeColor="warn" (click)="openProcedureDialog()">
          <mat-icon>add</mat-icon> Add </button>
      </div>
      <table mat-table fxFlex [dataSource]="procedureDataSource" class="mat-elevation-z8" #procedureTable>
        
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let procedure"> {{procedure.name}} </td>
        </ng-container>
      
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef> Date </th>
          <td mat-cell *matCellDef="let procedure"> {{procedure.date}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedProcedureColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedProcedureColumns;"></tr>
      </table>
    
    </mat-card-content>
  </mat-card>  

  <mat-card>
    <mat-card-header>
      <div mat-card-avatar><mat-icon>colorize</mat-icon></div>
      <mat-card-title>Immunizations</mat-card-title>
    </mat-card-header>
    <mat-card-content fxLayout="column">  
        <div fxFlex fxLayoutAlign="flex-end">
          <button mat-flat-button  color="accent" matBadge="S" matBadgePosition="above before" matBadgeColor="warn" (click)="openVaccinationDialog()">
            <mat-icon>add</mat-icon> Add </button>
        </div>
        <table mat-table fxFlex [dataSource]="vaccinationDataSource" class="mat-elevation-z8" #vaccinationTable>
          
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let vaccination"> {{vaccination.name}} </td>
          </ng-container>
        
          <ng-container matColumnDef="brandName">
            <th mat-header-cell *matHeaderCellDef> Brand Name </th>
            <td mat-cell *matCellDef="let vaccination"> {{vaccination.brandName}} </td>
          </ng-container>
        
          <ng-container matColumnDef="substance">
            <th mat-header-cell *matHeaderCellDef> Substance </th>
            <td mat-cell *matCellDef="let vaccination"> {{vaccination.substance}} </td>
          </ng-container>
  
          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef> Date </th>
            <td mat-cell *matCellDef="let vaccination"> {{vaccination.date}} </td>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="displayedVaccinationColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedVaccinationColumns;"></tr>
        </table>
    </mat-card-content>
  </mat-card>


</div>    

