<ng-container>
  <mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center">
    <div fxFlex>
      <a>
        SNOMED CT Search Demo
      </a>
      &nbsp; &nbsp; &nbsp; &nbsp;
      <a href="http://aehrc.com">
        <img alt="The Australian e-Health Research Center" src="./assets/images/eHealth Logo.jpg">
      </a>
      <a href="http://csiro.au">
        <img alt="CSIRO" src="./assets/images/CSIRO Logo.jpg">
      </a>
      &nbsp;
      <a href="http://ontoserver.csiro.au">
        <img alt="Ontoserver" src="./assets/images/ontoserver Logo.jpg">
      </a> 
    </div>      
    <!-- <div>
      <a href="http://aehrc.com">
        <img alt="The Australian e-Health Research Center" src="./assets/images/eHealth Logo.jpg">
      </a>
      <a href="http://csiro.au">
        <img alt="CSIRO" src="./assets/images/CSIRO Logo.jpg">
      </a>
    </div>
    &nbsp;
    <div>
      <a href="http://ontoserver.csiro.au">
        <img alt="Ontoserver" src="./assets/images/ontoserver Logo.jpg">
      </a>      
    </div>
    &nbsp; -->
    <div fxFlex>
        <mat-form-field appearance="outline" [style.fontSize.px]=14 fxFlex  style="margin-bottom: -20px">
            <mat-label>Snomed Terminology Server</mat-label>
            <mat-select [(value)]="snomedServer" (selectionChange)="onSnomedServerSelectionChange($event)">
              <mat-option *ngFor="let ts of terminologyServers" value={{ts}}>
                {{ts}}
              </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
  </mat-toolbar> 
  <div class="allergyDetails">

      <mat-grid-list cols="6" rowHeight="50px">
        <mat-grid-tile>
            <mat-list>
                <mat-list-item> <mat-icon>warning</mat-icon> High Adverse Reaction Risks </mat-list-item>
            </mat-list>
        </mat-grid-tile>
        <mat-grid-tile *ngFor="let alert of getAlerts()">
            <mat-list>
                <mat-list-item> {{alert.substanceDisplay}}</mat-list-item>
            </mat-list>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  <div class="patientDetails">
    <mat-grid-list cols="6" rowHeight="50px">
      <mat-grid-tile>
          <mat-list>
              <mat-list-item> MEDD, Snowy </mat-list-item>
          </mat-list>
      </mat-grid-tile>
      <mat-grid-tile>
          <mat-list>
              <mat-list-item> Date of Birth: 2001-08-28 </mat-list-item>
          </mat-list>
      </mat-grid-tile>
      <mat-grid-tile>
          <mat-list>
              <mat-list-item> Age: {{getAge('2001-08-28')}} </mat-list-item>
          </mat-list>
      </mat-grid-tile>
      <mat-grid-tile>
          <mat-list>
              <mat-list-item> Sex: {{getSex().display}} </mat-list-item>
          </mat-list>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-list>
            <mat-list-item> Gender: {{getGender().display}} </mat-list-item>
        </mat-list>
    </mat-grid-tile>
      <mat-grid-tile>
          <mat-list>
              <mat-list-item> MRN: 123456 </mat-list-item>
          </mat-list>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" opened [fixedInViewport]="false">
      <mat-button-toggle-group fxLayout="column" fxLayoutAlign="space-around stretch" value="encounter">
        <mat-button-toggle value="patient-details" aria-label="Patient Details" (change)="sideMenuChanged($event)">
          Patient Details    
        </mat-button-toggle>
        <mat-button-toggle value="encounter" aria-label="History" (change)="sideMenuChanged($event)">
          Encounter    
        </mat-button-toggle>
        <mat-button-toggle value="allergies-adverse-reactions" aria-label="Physical" (change)="sideMenuChanged($event)">
          Allergies / Adverse Reactions
        </mat-button-toggle>
        <mat-button-toggle matTooltip="Not implemented in this demo" disabled value="patient-summary" aria-label="Medication">
          <mat-icon>build</mat-icon> 
          Medication    
        </mat-button-toggle>
        <mat-button-toggle value="diagnostic-imaging" aria-label="Diagnostic Imaging" (change)="sideMenuChanged($event)">         
          Diagnostic Imaging    
        </mat-button-toggle>   
        <mat-button-toggle matTooltip="Not implemented in this demo" disabled value="patient-summary" aria-label="Medication">
          <mat-icon>build</mat-icon> 
          Pathology    
        </mat-button-toggle>
        <mat-button-toggle matTooltip="Not implemented in this demo" disabled value="patient-summary" aria-label="Immunisations">
          <mat-icon>build</mat-icon> 
          Immunisations    
        </mat-button-toggle>        
        <mat-button-toggle value="patient-summary" aria-label="Patient Details" (change)="sideMenuChanged($event)">
          Patient Summary    
        </mat-button-toggle>
        <mat-button-toggle disabled>  
          &nbsp; 
        </mat-button-toggle>
        <mat-button-toggle disabled>  
          &nbsp; 
        </mat-button-toggle>
        <mat-button-toggle value="search-comparisons" aria-label="Search Comparisons" (change)="sideMenuChanged($event)">
          Search Comparisons    
        </mat-button-toggle>
        <mat-button-toggle value="pedigree-editor" aria-label="Pedigree Editor" (change)="sideMenuChanged($event)">
          Pedigree Editor    
        </mat-button-toggle>
        <mat-button-toggle value="pedigree-editor-pre-canned" aria-label="Pedigree Editor with example data" (change)="sideMenuChanged($event)">
          Pedigree Editor (with Example Data)
        </mat-button-toggle>
      </mat-button-toggle-group>
      
      <!-- <a href="http://aehrc.com">
        <img class="centred-image" alt="The Australian e-Health Research Center" src="./assets/images/eHealth Logo.jpg">
      </a>
      <br>
      <a href="http://csiro.au">
        <img class="centred-image" alt="CSIRO" src="./assets/images/CSIRO Logo.jpg">
      </a>
      <br>
      <a href="http://ontoserver.csiro.au">
        <img class="centred-image" alt="Ontoserver" src="./assets/images/ontoserver Logo.jpg">
      </a>  -->

      <!-- <div>
        <img class="centred-image" src="./assets/images/CSIRO_Solid_CMYK_140px.jpg">
      </div>
      <br>
      <div>
        <img class="centred-image" src="./assets/images/aehrc logo_120px.PNG">
      </div>
      <br>
      Powered by <i>Ontoserver</i>
      <div>
        <img class="centred-image" src="./assets/images/ontoserver_120px.png">
      </div> -->
    </mat-sidenav>

    <mat-sidenav-content>
      <app-patient-details-frame snomedServer={{snomedServer}} *ngIf="selectedMenuItem === 'patient-details'"></app-patient-details-frame> 
      <app-encounter-frame snomedServer={{snomedServer}} *ngIf="selectedMenuItem === 'encounter'"></app-encounter-frame>
      <app-reaction-frame snomedServer={{snomedServer}} *ngIf="selectedMenuItem === 'allergies-adverse-reactions'"></app-reaction-frame> 
      <app-investigations-frame snomedServer={{snomedServer}} *ngIf="selectedMenuItem === 'diagnostic-imaging'"></app-investigations-frame> 
      <app-patient-summary-frame snomedServer={{snomedServer}} *ngIf="selectedMenuItem === 'patient-summary'"></app-patient-summary-frame>     
      <app-search-compare-frame snomedServer={{snomedServer}} *ngIf="selectedMenuItem === 'search-comparisons'"></app-search-compare-frame>   
      
      <!-- <iframe *ngIf="selectedMenuItem === 'pedigree-editor'" src="https://familypedigree.netlify.com/"></iframe> WORKS -->
      
      <iframe *ngIf="selectedMenuItem === 'pedigree-editor'" src="https://aehrc.github.io/panogram"></iframe>
      <iframe *ngIf="selectedMenuItem === 'pedigree-editor-pre-canned'" src="https://aehrc.github.io/panogram/test_opener.html"></iframe>
    </mat-sidenav-content>
  </mat-sidenav-container>

</ng-container>