<div [formGroup]="patientDetailsForm" class="container" fxLayout="column" fxLayoutGap="20px">
    
  <mat-card class="patient-details-card">
    <mat-card-header>
      <div mat-card-avatar><mat-icon>person</mat-icon></div>
      <mat-card-title>Patient Details</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="form-row" fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px">
        <mat-form-field appearance="outline"  fxFlex>
          <mat-label>Patient ID</mat-label>
          <input matInput value="123456" [readonly]="true"/>
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex>
            <mat-label>National ID</mat-label>
            <input matInput value="987654321" [readonly]="true"/>
          </mat-form-field>
      </div>
    
      <div class="form-row" fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px">
        <mat-form-field appearance="outline" fxFlex>
            <mat-label>Name</mat-label>
            <input matInput value="Mr Snowy MEDD" [readonly]="true"/>
        </mat-form-field>
        <mat-form-field appearance="outline"  fxFlex>
            <mat-label>DOB</mat-label>
            <input matInput value="2001-08-28" [readonly]="true"/>
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex>
          <mat-label>Sex</mat-label>
          <span matPrefix matTooltip="This field uses SNOMED CT" class="circle"><b>S</b></span>
          <select matNativeControl formControlName="sex" [compareWith]="compare">
            <option *ngFor="let option of sexValues" [ngValue]="option">{{option.display}}</option>
          </select>
        </mat-form-field>
        <button mat-mini-fab aria-label="click for info" matTooltip="Click for further info on sex"
          [mdePopoverTriggerFor]="sexPopover" mdePopoverTriggerOn="click" #popoverTrigger="mdePopoverTrigger">
          <b>i</b>
        </button>
        <mde-popover #sexPopover="mdePopover" [mdePopoverOverlapTrigger]="false">
          <mat-card style="max-width: 600px">
            <mat-card-content>
                The Sex field uses SNOMED CT Expression Constraint Language (ECL) to retrieve all options from a FHIR-Based, SNOMED-CT terminoloy server.
                <br><br>
                Sex options are retrieved here using <b> 248153007 |Male| OR 248152002 |Female| 
                  OR 32570691000036108 |Intersex| OR 32570681000036106 |Interderminate sex| 
                  OR 407377005| Female-to-male transsexual| OR 407376001 | Male-to-female transsexual| </b>
                <br><br>
                The values in this field are an ideal candidate for a ValueSet. 
                <br><br> 
                ValueSets can be used to provide an order for the presented concepts 
                (e.g. in some contexts, Male and Female are most commonly entered and should therefore appear at the 
                top of the list to limit required keystrokes and mouse movement).
                <br><br>
                A version of a ValueSet can be specified to ensure that no new concepts appear without the opportunity for
                them to be vetted.
                <br><br>
          </mat-card-content>
          </mat-card>
        </mde-popover>
      </div>
    
      <div class="form-row" fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px">
        <mat-form-field appearance="outline"  fxFlex>
            <mat-label>Address</mat-label>
            <input matInput value="100 Snomed Lane, SNOMEDVILLE, 4000, SNOMEDLAND" size="200" [readonly]="true"/>
        </mat-form-field>
        <mat-form-field appearance="outline"  fxFlex>
            <mat-label>Email</mat-label>
            <input matInput value="snowy@snomed.org"  [readonly]="true"/>
        </mat-form-field>
      </div>
      <div class="form-row" fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px">
        <mat-form-field appearance="outline"  fxFlex>
            <mat-label>Mobile Telephone</mat-label>
            <input matInput value="123 456 789" [readonly]="true"/>
        </mat-form-field>
        <mat-form-field appearance="outline"  fxFlex>
            <mat-label>Home Telephone</mat-label>
            <input matInput value="(987) 654 321" [readonly]="true"/>
        </mat-form-field>
        <mat-form-field appearance="outline"  fxFlex>
            <mat-label>Work Telephone</mat-label>
            <input matInput value="(987) 123 456" [readonly]="true"/>
        </mat-form-field>
      </div>
      <div class="form-row" fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px">
        <mat-form-field appearance="outline"  fxFlex>
            <mat-label>Preferred Language</mat-label>
            <input matInput value="Snomed" [readonly]="true"/>
        </mat-form-field>
      </div>
      <div class="form-row" fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px">
        <mat-form-field appearance="outline"  fxFlex>
            <mat-label>Blood Group</mat-label>
            <input matInput value="A+" [readonly]="true"/>
        </mat-form-field>
      </div>
      <div class="form-row" fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px">
        <mat-form-field appearance="outline"  fxFlex>
          <mat-label>Smoking Status</mat-label>
          <span matPrefix matTooltip="This field uses SNOMED CT" class="circle"><b>S</b></span>
          <select matNativeControl formControlName="smokingStatus" [compareWith]="compare">
            <option *ngFor="let option of smokingStatusValues" [ngValue]="option">{{option.display}}</option>
          </select>
        </mat-form-field>
        <button mat-mini-fab aria-label="click for info" matTooltip="Click for further info on smoking status"
          [mdePopoverTriggerFor]="smokingStatusPopover" mdePopoverTriggerOn="click" #popoverTrigger="mdePopoverTrigger">
          <b>i</b>
        </button>
        <mde-popover #smokingStatusPopover="mdePopover" [mdePopoverOverlapTrigger]="false">
          <mat-card style="max-width: 600px">
            <mat-card-content>
              The smoking status field uses SNOMED CT Expression Constraint Language (ECL) to retrieve all options from a FHIR-Based, SNOMED-CT terminoloy server.
              <br><br>
              Smoking status options are retrieved here using <b>266919005 |Lifetime non-smoker | OR 77176002 | Current smoker | OR 8517006 |	Former smoker |</b>
              <br><br>
              The values in this field are an ideal candidate for a ValueSet. 
              <br><br> 
            </mat-card-content>
          </mat-card>
        </mde-popover>
        <div fxFlex>
          <span matPrefix matTooltip="This field uses SNOMED CT" class="rb-circle"><b>S</b></span>
          <label class="mat-typography">Smoker Type: </label>
          <mat-checkbox *ngFor="let option of smokerTypeValues" [disabled]="!smokingStatus" matTooltip="SNOMED CT code: {{option.value}}">
            {{option.display}}
          </mat-checkbox>
          <button mat-mini-fab aria-label="click for info" matTooltip="Click for further info on smoker type"
            [mdePopoverTriggerFor]="smokerTypePopover" mdePopoverTriggerOn="click" #popoverTrigger="mdePopoverTrigger">
            <b>i</b>
          </button>
          <mde-popover #smokerTypePopover="mdePopover" [mdePopoverOverlapTrigger]="false">
            <mat-card style="max-width: 600px">
              <mat-card-content>
                  This field is an example of using SNOMED CT enabled checkboxes. Checkboxes are appropriate to use 
                  when <b>more than one option</b> could be selected, and there are only a couple of options.
                  <br><br>
                  The Smoker Type field uses SNOMED CT Expression Constraint Language (ECL) to retrieve all options from a FHIR-Based, SNOMED-CT terminoloy server.
                  <br><br>
                  Smoker Type options are retrieved here using <b>59978006 | Cigar smoker | OR 65568007 | Cigarette smoker | OR 82302008 | Pipe smoker |</b>
                  <br><br>
                  This values in this field are an ideal candidate for a ValueSet. 
                  <br><br> 
                  This field enables when the smoking status field has been populated with either a current or former smoker.
              </mat-card-content>
            </mat-card>
          </mde-popover>
        </div>
    
      </div>
    </mat-card-content>
  </mat-card>

</div>    