<h2 mat-dialog-title>Add Allergy / Adverse Drug Reaction</h2>
<mat-dialog-content>
  <div [formGroup]="reactionForm" class="form-row" fxLayout="column">

    <mat-form-field matBadge="S" matBadgePosition="above before" matBadgeColor="warn" fxFlex>
      <input type="text" placeholder="Substance" aria-label="Substance" matInput formControlName="substance" [matAutocomplete]="autoSubstance">
      <mat-autocomplete #autoSubstance="matAutocomplete" [displayWith]="displaySubstanceFn.bind(this)">
        <mat-option *ngFor="let option of filteredSubstanceValues" [value]="option.value">
          {{option.display}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <div matBadge="S" matBadgePosition="above before" matBadgeColor="warn" fxFlex>
      <label class="mat-typography">Criticality: </label>
      <mat-radio-group formControlName="criticality">
          <mat-radio-button *ngFor="let option of getCriticalityKeys()" [value]="getCriticalityCode(option)" matTooltip="SNOMED CT code: {{getCriticalityCode(option)}}">
              {{option}}
          </mat-radio-button>
      </mat-radio-group>
    </div>

    <mat-form-field matBadge="S" matBadgePosition="above before" matBadgeColor="warn" fxFlex>
      <input type="text" placeholder="Manifestation" aria-label="Manifestation" matInput formControlName="manifestations" [matAutocomplete]="autoManifestation">
      <mat-autocomplete #autoManifestation="matAutocomplete" [displayWith]="displayManifestationFn.bind(this)">
        <mat-option *ngFor="let option of filteredManifestationValues" [value]="option.value">
          {{option.display}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field appearance="outline" [style.fontSize.px]=14 fxFlex>
      <mat-label>Verification Status</mat-label>
      <select matNativeControl formControlName="verificationStatus">
        <option value="confirmed">confirmed</option>
        <option value="unconfirmed">unconfirmed</option>
        <option value="refuted">refuted</option>
        <option value="entered in error">entered in error</option>
      </select>
    </mat-form-field>
    
    <mat-form-field appearance="outline" [style.fontSize.px]=14 fxFlex>
      <mat-label>comment</mat-label>
      <input matInput formControlName="comment"/>
    </mat-form-field>


  </div> 


</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-flat-button color="primary" (click)="save()">Save</button>
  <button mat-flat-button [mat-dialog-close]="true" cdkFocusInitial>Cancel</button>
</mat-dialog-actions>